In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split

In [2]:
#TO-DO
"""
Read the csv file into a DataFrame - df
"""
df = pd.read_csv("Admission_Predict.csv")

In [3]:
#TO-DO
"""
Print the DataFrame
"""
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [4]:
#TO-DO
"""
Print the length of the DataFrame.
Print the column names of the DataFrame.
"""
print(len(df))
print(df.columns.to_list())

400
['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA', 'Research', 'Chance of Admit ']

In [5]:
#TO-DO
"""
Define an “X” array that would hold our independent features for regression purposes.  
Define a "Y" array that would hold our target variable.

Print the shape of both the arrays.
"""
X = df.iloc[:, :-1]         # Using list slicing to exclude the last col (the tgt var) #
Y = df["Chance of Admit "]  # Kinda weird that this data item includes a whitespace, but okay...? #
print(X)
print(Y)

     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0             1        337          118                  4  4.5   4.5  9.65
1             2        324          107                  4  4.0   4.5  8.87
2             3        316          104                  3  3.0   3.5  8.00
3             4        322          110                  3  3.5   2.5  8.67
4             5        314          103                  2  2.0   3.0  8.21
..          ...        ...          ...                ...  ...   ...   ...
395         396        324          110                  3  3.5   3.5  9.04
396         397        325          107                  3  3.0   3.5  9.11
397         398        330          116                  4  5.0   4.5  9.45
398         399        312          103                  3  3.5   4.0  8.78
399         400        333          117                  4  5.0   4.0  9.66

     Research
0           1
1           1
2           1
3           1
4           0
..        ...
395         1
396         1
397         1
398         0
399         1

[400 rows x 8 columns]
0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

## Split the data

In [6]:
#TO-DO
"""
Split the dataset into train dataset and test dataset.
Set the random state to any number in order to maintain consistency while generating random numbers over several runs.
"""
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)
X_test

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
209,210,301,104,3,3.5,4.0,8.12,1
280,281,311,102,3,4.5,4.0,8.64,1
33,34,340,114,5,4.0,4.0,9.60,1
210,211,325,108,4,4.5,4.0,9.06,1
93,94,301,97,2,3.0,3.0,7.88,1
...,...,...,...,...,...,...,...,...
60,61,309,100,2,3.0,3.0,8.10,0
79,80,294,93,1,1.5,2.0,7.36,0
285,286,331,116,5,4.0,4.0,9.26,1
305,306,321,109,3,3.5,3.5,8.80,1
281,282,317,110,3,4.0,4.5,9.11,1

# Linear Regression

In [7]:
#TO-DO
def find_optimal_parameters(x, y):
    """ Compute closed form solution for linear regression!
    Optimal weight w* in linear regression is given by w* = (X^T X)^(-1) X^T Y
    
    Args:
    - x (ndarray (Shape: (N, D))): A NxD matrix corresponding to the inputs.
    - y (ndarray (Shape: (N, 1))): A N-column vector corresponding to the outputs given the inputs.
    
    Output:
    - w (ndarray (Shape: (D, 1))): A D-column vector corresponding to the bias and weights of the linear model.
    """
    # Pad 1's for the bias term
    x = np.hstack((np.ones((x.shape[0], 1)), x))

    # Note that we could use pseudoinverse here: np.linalg.pinv
    xTx = np.dot(x.T, x)
    xTy = np.dot(x.T, y)
    w = np.dot(np.linalg.pinv(xTx), xTy)
    return w

### Train linear regression model using training data

In [8]:
#TO-DO
def get_pred_Y(trained_w, X_pred):
    """ Return predicted Y
    Args:
    - trained_w (ndarray (Shape: (D+1, 1))): A (D+1)x1 column vector containing linear regression weights.
    - X_pred (ndarray (Shape: (N, D))): A NxD matrix corresponding to the prediction inputs.
    
    Output:
    - pred_Y (ndarray (Shape: (N, 1))): A Nx1 column vector corresponding to the predicted outputs.
    """
    pad_X = np.hstack((np.ones((X_pred.shape[0], 1)), X_pred))      # Pads a column of ones for the bias #
    pred_Y = pred_Y = np.dot(pad_X, trained_w)
    return pred_Y

In [9]:
#TO-DO
def get_mse(Y_truth, Y_pred):
    """ Return Mean squared error
    Args:
    - Y_truth (ndarray (Shape: (N, 1))): A Nx1 column vector corresponding to the actual outputs.
    - Y_pred (ndarray (Shape: (N, 1))): A Nx1 column vector corresponding to the predicted outputs.
    
    Output:
    - MSE (ndarray (Shape: (1,))).
    """
    'check if both inputs are of the same shape'
    # Why do we need to check the dim of Y_truth, Y_pred, if the precondition guarantees it? #
    # Oh, well. I'll raise an error just in case #
    assert Y_truth.shape == Y_pred.shape

    Errors = np.square(Y_truth - Y_pred)
    mse = np.mean(Errors)
    return mse

### Get predictions on train data

In [10]:
w_optimal = find_optimal_parameters(X_train, Y_train)
print(w_optimal)

[-1.33317767e+00  1.91952620e-04  1.91683408e-03  4.22869819e-03
  8.79478123e-03  1.19721188e-03  1.65128499e-02  1.00263309e-01
  1.83417997e-02]

In [11]:
pred_Y    = get_pred_Y(w_optimal, X_train)
print('train error (MSE): ', get_mse(Y_train, pred_Y))

train error (MSE):  0.003361130155426449

### Get predictions and performance on test data

In [12]:
pred_Y    = get_pred_Y(w_optimal, X_test)
print('test error (MSE):: ', get_mse(Y_test, pred_Y))

test error (MSE)::  0.004576720874710684